.contact-page-container {
	display: flex;
	margin: auto;
	.contact-page-container-left {
		padding: 3rem 1rem 3rem 7rem;
		width: 50%;
		.contact-form {
			width: 80%;
			text-align: center;
			.contact-form-box {
				display: flex;
				flex-direction: column;
				margin: 1.5rem 0;
				label {
					text-align: start;
					margin-bottom: 1rem;
					width: 100%;
					font-weight: 600;
				}
				.input-box {
					width: 100%;
					position: relative;
					.icon-field {
						position: absolute;
						top: 35%;
						left: 0.8rem;
						color: #383838;
					}
					.icon-valid {
						display: none;
						position: absolute;
						top: 35%;
						right: 0.8rem;
						color: $color-valid;
					}
					.icon-error {
						display: none;
						position: absolute;
						top: 35%;
						right: 0.8rem;
						color: $color-error;
					}
					input {
						width: 100%;
						outline: none;
						border: 1px solid #858585;
						border-radius: 1rem;
						height: 3rem;
						padding: 1rem 2.5rem;
						&:focus, &:hover{
							border: 2px solid #747474;
						}
	
					}
					textarea {
						width: 100%;
						border-radius: 1rem;
						border: 1px solid #858585;
						resize: none;
						outline: none;
						padding: 2rem;
						&:focus, &:hover{
							border: 2px solid #747474;
						}
					}
				}
				.error-feedback {
					display: none;
					color: $color-error;
					margin-top: 0.5rem;
					text-align: start;
				}
				&.valid {
					.input-box {
						.icon-valid {
							display: block;
						}
						input {
							border: 1px solid $color-valid;
							&:focus, &:hover{
								box-shadow: 0 0 0.5rem #29b829;
							}
						}
						textarea {
							border: 1px solid $color-valid;
							&:focus, &:hover{
								box-shadow: 0 0 0.5rem #29b829;
							}
						}
					}
				}
				&.error {
					.input-box {
						.icon-error {
							display: block;
						}
						input {
							border: 1px solid $color-error;
							&:focus, &:hover{
								box-shadow: 0 0 0.5rem #d93025;
							}
						}
						textarea {
							border: 1px solid $color-error;
							&:focus, &:hover{
								box-shadow: 0 0 0.5rem #d93025;
							}
						}
					}
					.error-feedback {
						display: block;
					}
				}
				&:nth-child(3) {
					.input-box {
						.icon-valid,
						.icon-error {
							top: 85%;
						}
					}
				}
			}
			.btn-send-contact {
				padding: 0.7rem 1rem;
				border-radius: 1rem;
				font-weight: 600;
				font-size: 1rem;
				background-color: black;
				border: none;
				color: #ffffff;
				transition: transform 0.5s ease;
				animation: zoom-in-out 2s ease;
				&:hover {
					cursor: pointer;
					transform: scale(1.1);
				}
				i {
					margin: 0 0.5rem;
				}
			}
		}
	}
	.contact-page-container-right {
		background-color: $color-rosa-palido;
		width: 50%;
		padding: 3rem;
		display: flex;
		align-items: center;
		figure {
			width: 80%;
			margin: auto;
			overflow: hidden;
			border-radius: 20rem 18rem 0 15rem;
			img {
				width: 100%;
				object-fit: cover;
			}
		}
	}
}
